doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title River of Life

		link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet' href='/styles/main.min.css')
		link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css")

	body
		.container
			h1 River of Life
			#chart(style='height:250px;')

		script(src='//code.jquery.com/jquery-2.1.1.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js')
		script(src='/scripts/main.min.js')
